<div class="cards">
    <div class="card-container">
      <img 
           src="https://just1ce.carrd.co/assets/images/image01.jpg?v=f7c67998" 
           alt="Card img" 
           class="card-container__img"
      >
      <div class="card-container__title-block">
        <h2 class="title">Justice</h2>
        <p class="title-description">Discord: Justice#2315</p>
      </div>
      <div class="card-container__description">
        <a 
           href="https://www.youtube.com/c/Justice_ask" 
           class="description-link  youtube__link"
        >YouTube</a>
        <a
           href="https://www.instagram.com/justice.ask/"
           class="description-link instagram__link"
        >Instagram</a>
        <a
           href="https://www.tiktok.com/@im.justice"
           class="description-link tik-tok__link"
        >TikTok</a>
      </div>
    </div>
  </div>