{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="cards-container">
  <div class="cards">
    {% for item in member %}
    <div class="card-container">
      <img
          src="{{ '/aska'|add:item.photo.url }}"
          alt="Card img"
          class="card-container__img" 
      >
      <div class="card-container__title-block">
        <h3 class="title">{{ item.name }}</h3>
        <p class="title-description">Discord: {{ item.ds_tag }}</p>
      </div>
      <div class="card-container__description">
        <a 
           href="{{ item.yt_link }}" 
           class="description-link  youtube__link"
        >YouTube</a>
        <a
           href="{{ item.ins_link }}"
           class="description-link instagram__link"
        >Instagram</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}