.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  --card-container-width: 160px;
  --cards-container-width: calc(160px * 4 + 40px * 4);
}

.cards-container {
  margin: 0 auto;

  width: calc(199px * 4);
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border: 2px solid #fff;
  border-radius: 10px;
  
  width: var(--card-container-width);
  
  
  padding: 5px 10px;
  margin: 0 auto 30px;

  box-shadow: 1px 1px 10px #DCDCDC;
  
  color: #fff;
  text-transform: uppercase;
}

  
.card-container__img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  
  margin-bottom: 10px;
}

.card-container__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.title {
  margin: 0 0 5px 0;
  font-size: 20px;
}

.title-description {
  margin: 0 auto 20px 0;
  text-transform: none;
  text-align: center;

}

.card-container__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-link {
  text-decoration: none;
  color: #fff;
  
  font-size: 20px;
  margin-bottom: 10px;
  
  position: relative;
}

.description-link:before {
  display: block;
  position: absolute;

  content: "";
  background-color: #fff;

  height: 2px;
  width: 100%;

  left: 0;
  bottom: 0;
  transition: .3s;
  transform: scale(0);

}

.description-link:hover:before {
  transform: scale(1);
}
