.header {
    display: flex;
    justify-content: space-between;
}

.header__logo-link {
    margin-top: 10px;
    margin-left: 50px;
    display: block;
}

.header__video {
    width: 100px;
}