.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header__logo-container {
    width: 100px;
    height: 100px;

    margin-left: 50px;
    margin-top: 10px;

    overflow: hidden;

    position: relative;
}

.header__video {
    width: 200px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}