.nav {
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_list {
    list-style-type: none;
    display: flex;
    
    text-transform: uppercase;

    margin: auto;
    padding: 0;
}

.nav__item {
    padding: 10px;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.nav-link:before,
.nav-link:after {
    content: '';
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    transition: 0.3s;
}

.nav-link:after {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;

    transform: scaleY(0);
}

.nav-link:before {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

    transform: scaleX(0);
}

.nav-link:hover:before,
.nav-link:hover:after {
    transform: scale(1);
}

